@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #e6e6ff;
    font-family: 'Montserrat ', sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

.animatedButton{
    animation-duration: 4000ms;
}